#main_menu {
    margin: 10px;
}

.span7 {
    margin-left:0px;
    position: relative;
}

#content {
    padding: 15px 0px 0px 20px;
}


.users {
    margin-left: 10px;
}

.tbl-top {
    background-color: whitesmoke;
}

form#add-department input {
    margin: 0px;
}

.right-calendar {
    position: absolute;
    top: 12px;
    right: 0px;
}