h1 {
    font-size: 28px;
}

h2 {
    font-size: 24px;
}

h3 {

    font-size: 20px;
}

#main_menu {
    margin: 10px;
}

.span7, .span10, .span9 {
    margin-left:0;
    position: relative;

}

div.additional {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius:10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}

div.additional h3{
    margin:0 0 10px 0;
    line-height: 20px;
}

div.additional input {
    margin-bottom: 0 !important;
}


#content {
    padding: 0 20px 0 20px;
}


.users {
    margin-left: 10px;
}

.tbl-top {
    background-color: whitesmoke;
}

form#add-department input {
    margin: 0;
}

.right-calendar {
    position: absolute;
    top: 12px;
    right: 0;
    cursor: pointer;
}

.right-calendar form{
    margin: 0;
}

.right-calendar span{
    color:#0088CC;
    border-bottom: #0088CC dotted 1px;
}

.col-small {
    width: 150px;
}

.col-large {
    width:300px;
}

#dialog{
    display:none;
}

form{
    margin: 0;
}

.tbl-span {
    margin-left: 5px;
}

input[type = "checkbox"]{
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: 0 5px 0 0;
}

#chief{
    color:gray;
    font-style: italic;
}

#checked {
    background-color: whitesmoke;
}

.calendar span{
    color:#0088CC;
    border-bottom: #0088CC dotted 1px;
    cursor: pointer;
    margin-right: 0;
}

.calendar{
    padding-right: 10px;
}

#user{
    
}
#dep{
    display: none;
}

.reports{
    width: 550px;
}

.accordion-group {
    border: 0px;
}

.accordion {
    margin-top: -20px;
    margin-bottom: 0px;
}

#dep{
    display: none;
}

.disableDays .ui-datepicker-calendar{
    display: none;
}

#footer{
  height: 80px;
  width: 100%;
  float: left;
}