h1 {
    font-size: 28px;
}

h3 {
    font-size: 20px;
}

#main_menu {
    margin: 10px;
}

.span7 {
    margin-left:0px;
    position: relative;

}

#content {
    padding: 0px 20px 0px 20px;
}


.users {
    margin-left: 10px;
}

.tbl-top {
    background-color: whitesmoke;
}

form#add-department input {
    margin: 0px;
}

.right-calendar {
    position: absolute;
    top: 12px;
    right: 0px;
    cursor: pointer;
}

.right-calendar form{
    margin: 0px;
}

.right-calendar span{
    color:#0088CC;
    border-bottom: #0088CC dotted 1px;
}

.col-small {
    width: 150px;
}

.col-large {
    width:300px;
}

#dialog{
    display:none;
}

form{
    margin: 0px;
}

.tbl-span {
    margin-left: 5px;
}

input[type = "checkbox"]{
    display: inline-block;
    height: 18px;
    width: 18px;
    margin: 0 5px 0 0;
}

#chief{
    color:gray;
    font-style: italic;
}

#vacation{
   margin-top: 110px;
}


#checked {
    background-color: whitesmoke;
}

.calendar span{
    color:#0088CC;
    border-bottom: #0088CC dotted 1px;
}

#office-load {
    width: 900px;
}