<?php
return array(
    //f.e. if you access your page localhost/doorlog/... then value shoold be /doorlog
    'root' => '',
    'db' => array(
        'host' => '',
        'dbname' => '',
        'user' => '',
        'password'=> '',
        'port' => 3306,
    ),
    'pcount'=>''
);
?>